<form class="text-center">
	<label>Clave del programa</label><br>
	<input type="text" name="campoClave" required=""><br>
	<label>Nombre del programa</label><br>
	<input type="text" name="campoApePat" required=""><br>
</form>