<div class="card">
    <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
            <a id="actMes" class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Actividades del mes
            </a>
        </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-body">
            <a class="text-right" href="" data-toggle="modal" data-target="#agregarPrograma">Generar nuevo mes de actividades...</a>
        </div>
    </div>
</div>